<html>
    <h1>EJS 사용확인</h1>
    <h2>페이지가 잘 나옵니다.</h2>
    <input type="text" id="inputText"></input>
    <button type="button" id="sendButton">보내기</button>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
     //   alert('test javascript');
      
        $("#sendButton").click(function(){
            var inputText =  $("#inputText").val();  // #은 이 아이디에 해당하는걸 가져옴. val은 데이터를 가져와라라는 의미
            $.ajax({
            url:"/getDataTest", //데이터를 보내고 어떤 url로 연결할 지 명시
            type : "POST",
            data : {
                userText : inputText //데이터 이름과 내용 명시
            },
            success:function(data){ // 성공적으로 응답을 받으면 응답을 처리하는 기능
                alert(data);
            }
        })
        });
    </script>

</html>